@page "/paymentmethods/details"
@using Microsoft.EntityFrameworkCore
@using CarParkManagementSystemV4.Domain
@inject IDbContextFactory<CarParkManagementSystemV4.Data.CarParkManagementSystemV4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>PaymentMethod</h2>
    <hr />
    @if (paymentmethod is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CardNumber</dt>
            <dd class="col-sm-10">@paymentmethod.CardNumber</dd>
            <dt class="col-sm-2">CardHolderName</dt>
            <dd class="col-sm-10">@paymentmethod.CardHolderName</dd>
            <dt class="col-sm-2">ExpiryDate</dt>
            <dd class="col-sm-10">@paymentmethod.ExpiryDate</dd>
            <dt class="col-sm-2">CVV</dt>
            <dd class="col-sm-10">@paymentmethod.CVV</dd>
            <dt class="col-sm-2">PaymentType</dt>
            <dd class="col-sm-10">@paymentmethod.PaymentType</dd>
            <dt class="col-sm-2">Provider</dt>
            <dd class="col-sm-10">@paymentmethod.Provider</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@paymentmethod.UserId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@paymentmethod.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@paymentmethod.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@paymentmethod.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@paymentmethod.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/paymentmethods/edit?id={paymentmethod.Id}")">Edit</a> |
            <a href="@($"/paymentmethods")">Back to List</a>
        </div>
    }
</div>

@code {
    private PaymentMethod? paymentmethod;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        paymentmethod = await context.PaymentMethod.FirstOrDefaultAsync(m => m.Id == Id);

        if (paymentmethod is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
