@page "/pricings/details"
@using Microsoft.EntityFrameworkCore
@using CarParkManagementSystemV4.Domain
@inject IDbContextFactory<CarParkManagementSystemV4.Data.CarParkManagementSystemV4Context> DbFactory
@inject NavigationManager NavigationManager

<h1>Details of Pricing</h1>

<div>
    <h2>Pricing</h2>
    <hr />
    @if (pricing is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">HourlyRate</dt>
            <dd class="col-sm-10">@pricing.HourlyRate</dd>
            <dt class="col-sm-2">WeekendRate</dt>
            <dd class="col-sm-10">@pricing.WeekendRate</dd>
            <dt class="col-sm-2">LocationId</dt>
            <dd class="col-sm-10">@pricing.LocationId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@pricing.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@pricing.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@pricing.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@pricing.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/pricings/edit?id={pricing.Id}")">Edit</a> |
            <a href="@($"/pricings")">Back to List</a>
        </div>
    }
</div>

@code {
    private Pricing? pricing;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        pricing = await context.Pricing.FirstOrDefaultAsync(m => m.Id == Id);

        if (pricing is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
